@media print {
body { -webkit-print-color-adjust: exact;}

.custombg -webkit-print-color-adjust: exact;
.sidebar { display: none !important;}
}

table { border: none; border-collapse: collapse; }
table td { border: 1px solid grey; height:20px;}
table td:first-child { border-left: none; }
table th { border: 1px solid grey; }
table th:first-child { border-left: none; }
table th:last-child { border-right: none; }
.tblcell1 {
    text-align:center;
    width:8%;
}
@media print {
body { -webkit-print-color-adjust: exact;}
.custombg -webkit-print-color-adjust: exact;

}
tr {border-left: 1px solid grey;border-right: 1px solid grey;}
thead {border: 1px solid grey;}
