/* Sortable tables */
table.sortable thead {
    color:black;
    font-weight: bold;
    cursor: default;
}
/* Search Box Styling*/
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    /*background-image: url('../assets/icons/search.jpg');*/
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 4px 5px 4px 5px;
}
/* Set styling for  table border */
.borderless td, .borderless th {
    border: none;
}
.form-control select{ 
   font-size: 12px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 120px;
}



